
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
           
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Company 1<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Manage Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout </a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>                  
                    <a href="@Url.Action("Index", "Home")" > <i class="md md-home"></i><span> Dashboard </span></a>
                </li>

                <li class="has_sub">
                    <a href="@Url.Action("Index", "Stream")" class="waves-effect"><i class="md md-view-list"></i><span> Twitter Live Streams </span><span class="pull-right"><i class="md md-view-list"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("BuildTwitterStream", "Stream")">Build Stream</a></li>
                        <li><a href="@Url.Action("ViewSavedTwitterStreams","Stream")">View Saved Streams</a></li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("ViewAllCustomers", "Customers")" > <i class="md md-account-child"></i><span> View All Customers </span><span class="pull-right"><i class="md  md-account-child"></i></span></a>

                </li>

                <li>
                    <a href="#" class="waves-effect"><i class="md md-call-received"></i><span> Import Customers </span><span class="pull-right"><i class="md  md-call-received"></i></span></a>

                </li>

                <li>
                    <a href="#" class="waves-effect"><i class="md md-call-made"></i><span> Export Customers Data</span><span class="pull-right"><i class="md  md-call-made"></i></span></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
